<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

"pip" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3
con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
!pip install -q pandas==1.1.5

"pip" �� ���� ����७��� ��� ���譥�
��������, �ᯮ��塞�� �ணࠬ��� ��� ������ 䠩���.

In [5]:
%sql sqlite:///my_data1.db

In [6]:
import pandas as pd
df = pd.read_csv('D:\study\python\py-n\coursera\DS_LAST_PROJECT\Spacex.csv')
print(df.head())
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

         Date Time (UTC) Booster_Version  Launch_Site  \
0  04-06-2010   18:45:00  F9 v1.0  B0003  CCAFS LC-40
1  08-12-2010   15:43:00  F9 v1.0  B0004  CCAFS LC-40
2  22-05-2012   07:44:00  F9 v1.0  B0005  CCAFS LC-40
3  08-10-2012   00:35:00  F9 v1.0  B0006  CCAFS LC-40
4  01-03-2013   15:10:00  F9 v1.0  B0007  CCAFS LC-40

                                             Payload  PAYLOAD_MASS__KG_  \
0               Dragon Spacecraft Qualification Unit                  0
1  Dragon demo flight C1, two CubeSats, barrel of...                  0
2                              Dragon demo flight C2                525
3                                       SpaceX CRS-1                500
4                                       SpaceX CRS-2                677

       Orbit         Customer Mission_Outcome     Landing _Outcome
0        LEO           SpaceX         Success  Failure (parachute)
1  LEO (ISS)  NASA (COTS) NRO         Success  Failure (parachute)
2  LEO (ISS)      NASA (COTS)         Success           No attempt
3  LEO (ISS)       NASA (CRS)         Success           No attempt
4  LEO (ISS)       NASA (CRS)         Success           No attempt

101

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [11]:
conn = sqlite3.connect("D:\study\python\py-n\coursera\DS_LAST_PROJECT\my_data1.db") # open a database connection
cur = conn.cursor()
cur.execute('SELECT name FROM sqlite_master WHERE type="table"')
print(cur.fetchall())
Q= """
SELECT * FROM SPACEXTBL
"""
cur.execute(Q)
pd.read_sql_query(Q,conn)

[('SPACEXTBL',)]

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,05-11-2020,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,16-11-2020,00:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,21-11-2020,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,25-11-2020,02:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,06-12-2020,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

In [51]:
df['Launch_Site'].unique()

array(['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40'],
      dtype=object)


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [65]:
#y = ((df['Launch_Site'] == 'CCAFS LC-40') or (df['Launch_Site'] == 'CCAFS SLC-40'))
df1 = df[df['Launch_Site'] == 'CCAFS LC-40']
df2 = df[df['Launch_Site'] == 'CCAFS SLC-40']
df1.head()

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing _Outcome
0,04-06-2010,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,08-12-2010,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,22-05-2012,07:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,08-10-2012,00:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,01-03-2013,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [68]:
df1 = df[df['Customer'] == 'NASA (CRS)']
sum(df1['PAYLOAD_MASS__KG_'])

45596

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [76]:
import numpy as np
df1 = df[df['Booster_Version'] == 'F9 v1.1']
df1['PAYLOAD_MASS__KG_'].mean()

2928.4

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [80]:
print(df['Landing _Outcome'].unique())
df['Date'][df['Landing _Outcome'] == 'Success (ground pad)'].min()

['Failure (parachute)' 'No attempt' 'Uncontrolled (ocean)'
 'Controlled (ocean)' 'Failure (drone ship)' 'Precluded (drone ship)'
 'Success (ground pad)' 'Success (drone ship)' 'Success' 'Failure'
 'No attempt ']

'01-05-2017'

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [84]:
df1 = df[df['Landing _Outcome'] == 'Success (drone ship)']
df2 = list(df1['Booster_Version'][df1['PAYLOAD_MASS__KG_'] > 4000]) + list(df1['Booster_Version'][df1['PAYLOAD_MASS__KG_'] < 6000])
df2

['F9 FT B1022',
 'F9 FT B1026',
 'F9 FT B1029.1',
 'F9 FT  B1021.2',
 'F9 FT B1036.1',
 'F9 B4 B1041.1',
 'F9 FT  B1031.2',
 'F9 FT B1021.1',
 'F9 FT B1022',
 'F9 FT B1023.1',
 'F9 FT B1026',
 'F9 FT  B1021.2',
 'F9 FT  B1029.2',
 'F9 FT B1038.1',
 'F9 FT  B1031.2',
 'F9 B4 B1042.1',
 'F9 B4 B1045.1',
 'F9 B5  B1046.1']

### Task 7




##### List the total number of successful and failure mission outcomes

In [88]:
print(len(df[df['Mission_Outcome'] == 'Success']) + 1)
len(df[df['Mission_Outcome'] == 'Failure (in flight)'])

99

1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [89]:
m = max(df['PAYLOAD_MASS__KG_'])
df['Booster_Version'][df['PAYLOAD_MASS__KG_'] == m]

74     F9 B5 B1048.4
77     F9 B5 B1049.4
79     F9 B5 B1051.3
80     F9 B5 B1056.4
82     F9 B5 B1048.5
83     F9 B5 B1051.4
85     F9 B5 B1049.5
92    F9 B5 B1060.2
93    F9 B5 B1058.3
94     F9 B5 B1051.6
95     F9 B5 B1060.3
99    F9 B5 B1049.7
Name: Booster_Version, dtype: object

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [100]:
df['Year'] = df['Date'].str[-4:]
df1 = df[df['Year'] == '2015']
df1 = df1[df1['Landing _Outcome'] == 'Failure (drone ship)']
df1['Date'] = df1['Date'].astype("datetime64[ns]")
df1["year_month"] = df1["Date"].dt.to_period("M")
df2 = df1[["year_month", "Landing _Outcome", "Booster_Version", "Launch_Site"]]
df2

C:\Users\fitu2\AppData\Local\Temp\ipykernel_17404\2320133618.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df1['Date'] = df1['Date'].astype("datetime64[ns]")

   year_month      Landing _Outcome Booster_Version  Launch_Site
13    2015-10  Failure (drone ship)   F9 v1.1 B1012  CCAFS LC-40
16    2015-04  Failure (drone ship)   F9 v1.1 B1015  CCAFS LC-40

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [108]:
df['Date'] = df['Date'].astype("datetime64[ns]")
df4 = df[df['Date'] < '20-03-2017']
df4 = df4[df4['Date'] > '04-06-2010']
df4 = df4[df4['Date'] > '04-06-2010']
ls = ['Success (ground pad)',
       'Success (drone ship)']
for i in df4.index:
    if df4['Landing _Outcome'].iloc(i).str not in ls:

C:\Users\fitu2\AppData\Local\Temp\ipykernel_17404\4138485841.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df4 = df[df['Date'] < '20-03-2017']

ValueError: No axis named 1 for object type Series

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>